.error {
	text-align: center;
	margin: 50px 0;
	color: #FF6060;
	&-title {
		font-size: 288px;
		@media (width <= 768px) {			
				font-size: 140px;
			}
		@media (width <= 450px) {				
				font-size: 96px;
			}
	}
	&-subtitle {
		margin-top: 100px;
		font-size: 36px;
		@media (width <= 768px) {
			font-size: 18px;
			margin-inline: 50px;
		}
		@media (width <= 450px) {				
			font-size: 18px;
        	margin-inline: 50px;
		}
	}
	&-link {
		margin-top: 100px;
		margin-bottom: 50px;
		font-size: 18px;
		color: black;
		cursor: pointer;
		text-decoration: underline;
		@media (width <= 768px) {
			margin-inline: 50px;
		}
		@media (width <= 450px) {				
			margin-inline: 50px;
		}
	}
	&-link a {		
		@media (width <= 768px) {
			font-size: 14px;
		}
		@media (width <= 450px) {				
			font-size: 14px;
		}
	}
}